@use "../abstracts/colors" as clr;
@use "../abstracts/sizes" as sz;

#contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: sz.$main-grid-gap;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }

  input,
  textarea {
    min-width: 100%;
  }

  textarea {
    min-height: 10em;
  }

  button {
    min-width: 100%;
  }

  a {
    font-weight: 700;
    color: clr.$text;
    text-decoration: underline 3px clr.$accent;
    cursor: pointer;
  }

  a:hover {
    @extend %transition;
    color: clr.$accent;
  }

  @media screen and (max-width: sz.$breakpoint-1) {
    .contact-container {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
