@use "../abstracts/colors" as clr;
@use "../abstracts/sizes" as sz;

.error404 {
  padding-top: 30vh;
  // margin-top: 15em;
  display: flex;
  flex-direction: column;
  // gap: 0.5rem;
  // text-align: left;
  // margin: 5em;
}
