@use "../abstracts/colors" as clr;
@use "../abstracts/sizes" as sz;

#header {
  padding: 1.5em 0 3rem;
  
  .menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    gap: calc(2% + 1em);
    
    &_item {
      text-decoration: none;
      text-transform: uppercase;
      font-size: sz.$font-medium;
      letter-spacing: 0.2rem;
      color: clr.$text;
      padding-bottom: 1.5em;
      transition: all ease 50ms;
      cursor: pointer;
    }

    &_item:hover {
      border-bottom: 0.3rem solid clr.$accent;
    }
  }
}
