@use "../abstracts/colors" as clr;
@use "../abstracts/sizes" as sz;

$open-size: 6em;
#header {
  position: relative;
  padding: 1.5em 0 3rem;

  .open-to-work {
    position: absolute;
    height: $open-size;
    // right: 0em;
    left: 0em;
    top: 28px;
    cursor: pointer;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    gap: calc(2% + 1em);

    &_item {
      text-decoration: none;
      text-transform: uppercase;
      font-size: sz.$font-medium;
      letter-spacing: 0.2rem;
      color: clr.$text;
      padding-bottom: 1.5em;
      transition: all ease 50ms;
    }

    &_item:hover {
      border-bottom: 0.3rem solid clr.$accent;
      // border-bottom: sz.$border-bottom;
      @extend %border-bottom;
    }
  }

  @media screen and (max-width: sz.$breakpoint-1-2) {
    .open-to-work {
      height: calc($open-size - 1em);
      top: 4.5em;
      right: 0em;
      left: 70%;
      // left: 50vw;
    }
  }
  @media screen and (max-width: sz.$breakpoint-1) {
    .menu {
      gap: 1em;
      &_item {
        font-size: calc(sz.$font-medium - 0.3rem);
      }
    }
  }

  @media screen and (max-width: sz.$breakpoint-2) {
    .menu {
      justify-content: center;
      gap: 0.5em;
      &_item {
        font-size: calc(sz.$font-medium - 0.4rem);
      }
    }
  }
  @media screen and (max-width: sz.$breakpoint-3) {
    .menu {
      &_item {
        font-size: calc(sz.$font-medium - 0.7rem);
      }
    }
  }
}
