@use "../abstracts/colors" as clr;
@use "../abstracts/sizes" as sz;

%intro-font-styling {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 3rem;
}

#intro {
  min-height: 70vh;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  
  .intro-text h1 span{
    @extend %border-bottom;
  }
  
  .intro-text p {
    margin-top: 1.3rem;
    @extend %intro-font-styling;
    line-height: 3rem;
  }
  
  .scroll-down {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 1rem;
  }


  // .blink {
  //   animation: cursor 1s linear infinite;
  // }
  // @keyframes cursor {
  //   0% {opacity: 0;}
  //   50% {opacity: 0.5;}
  //   100% {opacity: 1;}
  // }

}