@use "../abstracts/colors" as clr;
@use "../abstracts/sizes" as sz;

#projects {
  .project-sub-heading {
    padding-top: 0.3em;
    text-transform: none;
  }
  .projects-container {
    display: flex;
    flex-direction: column;
    row-gap: sz.$main-grid-gap;
    column-gap: 9em;
    img {
      max-width: 100%;
    }
    svg {
      width: 3.5rem;
    }

    .project-item {
      display: flex;
      gap: sz.$main-grid-gap;
      flex-direction: row;
      margin-bottom: 5em;
      .project-snapshot {
        width: 50%;
      }
      .project-details {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
        width: 50%;
      }
    }
    // TODO apply SASS map
    .project-item-1,
    .project-item-3,
    .project-item-5 {
      flex-direction: row-reverse;
      .project-details {
        align-items: end;
        text-align: right;
      }
    }

    @media screen and (max-width: sz.$breakpoint-1) {
      .project-sub-heading {
        letter-spacing: 0.01rem;
        line-height: 1.5rem;
      }
      .project-item {
        flex-direction: column;
        .project-snapshot {
          width: 100%;
        }
        .project-details {
          width: 100%;
        }
      }
      .project-item-1,
      .project-item-3,
      .project-item-5 {
        // flex-direction: row-reverse;
        .project-details {
          align-items: start;
          text-align: left;
        }
      }
    }

    .made-with {
      text-transform: uppercase;
      margin: 1rem 0;
    }
    .made-with-icons {
      display: flex;
      gap: 1em;
      align-items: center;
      // margin-top: 1em;
    }

    .project-links {
      display: flex;
      gap: 1.5rem;
    }

    .project-link {
      // text-transform: uppercase;
      font-weight: bold;
      font-size: sz.$text;
      padding-top: 1em;
      text-decoration: underline 2px solid clr.$accent;
      // border-bottom: 2px solid clr.$accent;
      // color: clr.$accent;
    }
    .project-link:hover {
      @extend %transition;
      color: clr.$accent;
      // text-decoration: underline;
    }
  }
}
