$text: black;
$light-text: rgb(160, 160, 160);

$bg: rgb(245, 245, 245);
// $bg: lightblue;

$accent: orange;

%border-bottom {
  border-bottom: 0.3rem solid $accent;
}

%transition {
  transition: all ease 200ms;
}

