$max-width-px: 1200px;
// $website-width: min($max-width-px, 60vw + 11em);
$website-width: min($max-width-px, 60vw + 8em);
$breakpoint-1: 825px;
$breakpoint-2: 415px;
$breakpoint-3: 380px;


$text: 1.2rem;
$font-medium: 1.3rem;
$block-gap: 10em;
