$max-width-px: 1200px;
$website-width: min($max-width-px, 70vw + 9em);
$breakpoint-1: 825px;
$breakpoint-1-2: 600px;
$breakpoint-2: 475px;
$breakpoint-3: 380px;

$text: 1.2rem;
$font-medium: 1.3rem;
$error: 0.8rem;
$block-gap: 12em;
$head-body-gap: 2em;

$main-grid-gap: calc(3vw + 1em);
