// @use "./abstracts";
@use "./abstracts/colors" as clr;
@use "./abstracts/sizes" as sz;
@use "./components/about-me";
@use "./components/contact-me";
@use "./components/current-projects";
@use "./components/footer";
@use "./components/header";
@use "./components/intro";
@use "./components/projects";
@use "./components/skills";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
}

.wrapper {
  width: sz.$website-width;
  margin: 0 auto;
  margin-bottom: sz.$block-gap;
}

#home {
  height: 100vh;

}