// @use "./abstracts";
@use "./abstracts/colors" as clr;
@use "./abstracts/sizes" as sz;
@use "./components/about-me";
@use "./components/contact-me";
@use "./components/current-projects";
@use "./components/footer";
@use "./components/header";
@use "./components/intro";
@use "./components/projects";
@use "./components/skills";


@mixin heading-styles ($font-size: 1rem) {
  text-transform: uppercase;
  font-size: $font-size;
}

* {
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  cursor: default;
}


body {
  background-color: clr.$bg;
}

h1 {
  @include heading-styles(3rem);

}

.lowercase {
  text-transform: lowercase;
}

h2 {
  padding-bottom: 3rem;
  @include heading-styles(2.5rem)
}

span.underline {
  @extend %border-bottom;
}

p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.8rem;
}

.wrapper {
  width: sz.$website-width;
  margin: 0 auto;
  margin-bottom: sz.$block-gap;

  h2 {
    text-align: center;
  }
}

#home {
  height: 100vh;
  position: relative;
}

.icon:hover {
  g, path {
    fill: clr.$accent;
    @extend %transition;
  }
}

.light-text{
  color: clr.$light-text;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
